.basic {
  border-radius: 0;
  border: none;
  flex-basis: 0;
  flex-grow: 1;
  outline: none;
  transform: scale(0.66667);
}

.selected {
  transform: scale(1);
}

@media (hover: hover) {
  .basic:hover {
    cursor: hand;
    cursor: pointer;
    transform: scale(1);
  }
}
